# data structures in python

# List
+ list is a sequense,typically used to store collection of homogeneous items
+ lists are mutable
+ using a pair of square brackets to denote the empty list:[]
+ using a list comprehension:[x for x in iterable]
+ using the type constructor:list() or list(iterable)

In [15]:
# lists
l1=[1,2,3,4,'hello','tej']
print(l1)
#add two list
l2=['welcome',21,3]
l3=l1+l2
print(l3)
#index values[]
print(l3[3])
print(l3[5:7])
print(l3[-1])
print(l3[0:])
print(l3[4:7])
print(l3[::-1])
print(l3[7:2:-1])

[1, 2, 3, 4, 'hello', 'tej']
[1, 2, 3, 4, 'hello', 'tej', 'welcome', 21, 3]
4
['tej', 'welcome']
3
[1, 2, 3, 4, 'hello', 'tej', 'welcome', 21, 3]
['hello', 'tej', 'welcome']
[3, 21, 'welcome', 'tej', 'hello', 4, 3, 2, 1]
[21, 'welcome', 'tej', 'hello', 4]

In [16]:
# list methods
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [42]:
#append method
a=[1,2,3,4]
a.append(5)
a.append(6)
a.append(7)
a.append([8,9])
print(a)
a[7][0]

[1, 2, 3, 4, 5, 6, 7, [8, 9]]

8

In [40]:
#extend
a=[1,2,43,5]
a.extend([9,10,11])
a

[1, 2, 43, 5, 9, 10, 11]

In [36]:
#clear
a.clear()
a

[]

In [43]:
#count
a=[11,2,3,4,55,4,4]
a.count(4)

3

In [46]:
#index
a=[1,2,3,4,5,7,7,8,3]
a.index(3)

2

In [90]:
#insert(position,value)
a=[1,2,3,4,5]
a.insert(0,2)
a

[2, 1, 2, 3, 4, 5]

In [59]:
#pop-index based
a.pop()

5

In [62]:
#remove-based on element
a.remove(2)
a

[1, 3, 4]

In [64]:
a.pop(0)

1

In [65]:
a

[3, 4]

In [80]:
#def-index based
a=[1,2,33,5]
del a[2]
a

[1, 2, 5]

In [82]:
#clear-clears the list
a.clear()
a

[]

In [89]:
#sort and reverse
t=[1,2,56,7,8,9,100]
t.sort()
t.reverse()
t.sort(reverse=False)
t

[1, 2, 7, 8, 9, 56, 100]

In [91]:
vowles=['a','e']
vowles.insert(2,'i')
vowles.insert(3,'o')
vowles.insert(4,'u')
vowles

['a', 'e', 'i', 'o', 'u']

In [93]:
#take empty list and store elements
n=int(input("Enter the value:"))
l1=[]
for i in range(1,n):
    l1.append(i)
print(l1)

Enter the value:13
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [96]:
#mutable
a=[1,2,3,4,5]
a[2]=1
a

[1, 2, 1, 4, 5]

# tuples
+ tuples are immutable sequences,typically used to store collections of heterogeneous data
+ tuples are also used for cases where an immutable sequence of homogeneous data is needed (such as allowing storage in a set or dict instance)
+ using a pair of paranthesis to denote the tuple:()
+ using a trailing comma for a singleton tuple:a,or(a,)
+ using the tuple()buil-in:tuple() or tuple(iterable)

In [111]:
#tuple
k=()
print(type(k))
t=(1,2,3,'d','c','w')
print(t[0])
print(t[-1])
print(t[4])
print(t[2:5])
print(t[0:])
print(t[::-1])
print(t[4::-1])

<class 'tuple'>
1
w
c
(3, 'd', 'c')
(1, 2, 3, 'd', 'c', 'w')
('w', 'c', 'd', 3, 2, 1)
('c', 'd', 3, 2, 1)

In [112]:
dir(k)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [114]:
t=(1,2,2,3,4,4,4,6)
t.count(2)

2

In [7]:
l1=[1,2,1,2,1]
u=[]
for i in l1:
    if i not in u:
        u.append(i)
u

[1, 2]

In [19]:
#packing
student=('tej','19kq1a0547','cse','paceits')
(name,rollno,dep,college)=student
print(rollno,name,dep,college)

19kq1a0547 tej cse paceits

`packing and unpacking a tuple: In python there is a very powerful tuple assignment feature that assigns right hand side of values into left hand side.in other way it is called unpacking of the tuple`

# dictionary
+ creating a dictionary is a simple as placing items inside curly braces{}seperate by commas.
- an item has a key and a corresponding value that is expressed as a pair(key:value)
+ access values,dict uses keys

In [42]:
address={'name':'tej','place':'ongole'}
address
address['pincode']=523002
address['street']='vip road'
address

{'name': 'tej', 'place': 'ongole', 'pincode': 523002, 'street': 'vip road'}

In [43]:
dir(address)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [44]:
#get
address.get('street')

'vip road'

In [45]:
#items
address.items()

dict_items([('name', 'tej'), ('place', 'ongole'), ('pincode', 523002), ('street', 'vip road')])

In [46]:
#keys
address.keys()

dict_keys(['name', 'place', 'pincode', 'street'])

In [47]:
#pop
address.popitem()

('street', 'vip road')

In [49]:
address.pop('pincode')

523002

In [50]:
address

{'name': 'tej', 'place': 'ongole'}

In [94]:
#update
address1={'pincode':'532002','street':'vip road'}
address.update(address1)
address

{'name': 'NNV', 'place': 'ongole', 'pincode': '532002', 'street': 'vip road'}

In [59]:
#values
address.values()

dict_values(['tej', 'ongole', '532002', 'vip road'])

In [61]:
address['name']='NNV'
address

{'name': 'NNV', 'place': 'ongole', 'pincode': '532002', 'street': 'vip road'}

In [91]:
#fromkeys
address={'name': 'NNV', 'place': 'ongole', 'pincode': '532002', 'street': 'vip road'}
address2=dict.fromkeys(address)
print(address2)
address3=dict.fromkeys(address,'fields')
address3

{'name': None, 'place': None, 'pincode': None, 'street': None}

{'name': 'fields', 'place': 'fields', 'pincode': 'fields', 'street': 'fields'}

In [93]:
li=[1,1.2,3,2.4,1.1]
li

[1, 1.2, 3, 2.4, 1.1]

# sets
+ a set is an ordered collection of items.Every set is element is unique(no duplicates) and must be immutatable
+ A set is created by placing all the items(elements) inside curly braces{},seperated ny commas,or by using the built in functions

In [95]:
#sets
s={1,2,3,4,5,6,7,9,10,8,12,}
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}

In [96]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [107]:
b={1,2,3,4,11,13,14,15}
s.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [108]:
s.intersection(b)

{1, 2, 3, 4}

In [110]:
s.add(0)
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}

In [114]:
print(s.difference(b))
print(b.difference(s))

{0, 5, 6, 7, 8, 9, 10, 12}
{11, 13, 14, 15}

In [115]:
b.issubset(s)

False

In [116]:
b.issuperset(s)

False

In [123]:
b={1,2,3,4,5}
print(b.issubset(s))
print(b.issuperset(s))
print(b.isdisjoint(s))

True
False
False

In [124]:
b={12,13,14}
print(b.isdisjoint(s))

False

In [125]:
b.pop()

12

In [132]:
s.remove(4)
s

{0, 1, 5, 6, 7, 8, 9, 10, 12}

In [134]:
s.discard(2)